version: '2'
services:
    web:
        image: neofonie/demo-server

    loadbalancer:
        image: neofonie/demo-auto-lb
        build: ./
        depends_on:
            - web
        environment:
            - COMPOSE_PROJECT=demoautolb
        ports:
            - 42080:8080

    events:
        image: neofonie/demo-events
        build: demo-events
        depends_on:
            - loadbalancer
        environment:
            - COMPOSE_PROJECT=demoautolb
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
